@import 'variables';

#onama {
    background-color: #dedad5;

    .header {
        display: flex;
        align-items: center;
        height: 500px;
        margin-top: 83px;

        div {
            &.image-holder {
                flex: 1;
                height: 100%;

                &:first-of-type {
                    flex: 2;
                }
            }

            &.title-holder {
                flex: 1;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                font-weight: 700;
                background-color: #89582B;

                h1 {
                    font-family: $ekocell-font;
                    color: $ekocell-white;
                    text-align: center;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        h1 {
            flex: 1;
        }

        @media screen and (max-width:1000px) {
            margin-top: 0px;
            flex-direction: column;
            height: auto;

            div {
                &.title-holder {
                    flex: none;
                    font-size: 20px;
                    width: 100%;
                    padding: 30px;
                    position: relative;
                    top: -20px;
                }

                &.image-holder {
                    height: 20vh;
                    flex: none;

                    &.vertical {
                        width: 100%;
                        overflow: hidden;
                        display: none;
                    }

                    img {
                        object-fit: cover;
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }

    .mobile-image {
        display: none;

        @media screen and (max-width:1000px) {
            display: block;
            width: 90%;
            margin: 30px auto;
        }
    }

    .onama-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        width: 90%;
        margin: auto;
        max-width: 1280px;
        padding: 120px 0;

        .information {
            flex: 1;

            .googleMap {
                width: 100%;
                height: 400px;
                margin-bottom: 30px;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }

            .contact-info {
                .contact-info-item {
                    margin-top: 20px;
                }
            }
        }

        .about-us {
            color: $ekocell-black;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 38px;

            @media screen and (max-width:1000px) {
                font-size: 16px;
                line-height: 30px;
            }
        }

        @media screen and (max-width:1000px) {
            padding: 0px 0px 150px;
            flex-direction: column-reverse;
        }
    }
}